<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoteNest</title>
    <link rel="shortcut icon" href="/images/faviicon.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <main class="main w-full min-h-screen bg-[#0A0A0A]">
      <header
        class="bg-[#1E1E1E] p-6 text-center border-b-2 border-[#6C63FF] shadow-md w-full h-[80px] flex flex-row justify-between items-center px-4 py-2"
      >
        <h5
          class="header-logo text-xl text-[#E0E0E0] tracking-[1px] font-semibold"
        >
          NoteNest
        </h5>
        <p class="text-[#A0A0A0] m-1 text-lg">Your Cozy Place For Notes</p>
      </header>
      <form
        action=""
        class="note-form flex flex-col justify-center items-center w-full px-5 py-3 gap-5 mt-4"
      >
        <label
          class="note-tittle-label text-[#A0A0A0] text-3xl w-full flex flex-col justify-center items-start gap-4"
          for="note-tittle-input"
        >
          Tittle
          <input
            type="text"
            id="note-tittle-input"
            class="note-tittle-input w-full capitalize text-3xl px-3 py-3 bg-[#1E1E1E] text-[#E0E0E0] border border-[#333333] placeholder-[#A0A0A0] focus:outline-0"
            placeholder="Note Tittle"
          />
        </label>
        <label
          class="note-description-label text-[#A0A0A0] text-3xl w-full flex flex-col justify-center items-start gap-4"
          for="note-description-input"
        >
          Description
          <textarea
            placeholder="Note Description"
            rows="5"
            id="note-description-input"
            class="note-description-input capitalize max-h-[300px] w-full text-xl px-3 py-3 bg-[#1E1E1E] text-[#E0E0E0] border border-[#333333] placeholder-[#A0A0A0] focus:outline-0"
          ></textarea>
        </label>

        <button
          type="submit"
          class="bg-[#6C63FF] text-[#E0E0E0] text-xl self-start font-semibold py-2 px-6 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50 cursor-pointer"
        >
          Create Note
        </button>
      </form>
      <div class="notes mt-5">
        <div
          class="note-header flex flex-wrap justify-evenly items-center py-2 gap-y-5"
        >
          <h5 class="text-center text-[3em] font-semibold text-[#6C63FF]">
            Notes
          </h5>
          <input
            type="search"
            id="note-search-input"
            class="note-search-input capitalize w-[300px] text-lg px-3 py-3 bg-[#1E1E1E] text-[#E0E0E0] border border-[#6C63FF] rounded-sm placeholder-[#A0A0A0] focus:outline-0"
            placeholder="Search Note by Tittle"
          />
        </div>

        <div
          class="note-body flex flex-wrap justify-center items-center gap-4 gap-y-5 mt-5 px-3"
        >
          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>

          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>

          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>
          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>

          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>

          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>
          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>

          <div
            class="note-card max-w-md mx-auto bg-[#1E1E1E] rounded-lg shadow-lg p-6 mb-6 border border-[#333333]"
          >
            <h2 class="text-[#E0E0E0] text-2xl font-semibold mb-2">
              Note Title
            </h2>

            <p class="text-[#A0A0A0] text-lg mb-4">
              This is the content of the note. It can be a short description or
              a longer paragraph.
            </p>

            <div class="flex flex-wrap justify-between items-center gap-y-4">
              <div class="flex flex-row justify-center items-center gap-4">
                <button
                  class="bg-[#6C63FF] text-[#E0E0E0] font-semibold py-2 px-4 rounded-lg hover:bg-[#4A47FF] transition-all duration-300 shadow-lg hover:shadow-[#6C63FF]/50"
                >
                  Edit
                </button>

                <button
                  class="bg-red-500 text-[#E0E0E0] cursor-pointer font-semibold py-2 px-4 rounded-lg hover:bg-[#FF4A4A] transition-all duration-300 shadow-lg hover:shadow-[#FF6B6B]/50"
                >
                  Delete
                </button>
              </div>

              <h6 class="text-[#6C63FF] font-light">2-Feb-2025 at 09:42 PM</h6>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
